*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;

}
.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 198, 148);
     border-radius: 15px;
     padding: 30px;
      border: 2px solid #947e35; /* gold */
  box-shadow:
    0 0 5px #d4af37,
    0 0 10px #d4af37,
    0 0 20px #ffdf6c;

}

.card p{
    font-family: monospace;
    font-size: large;
    text-align: center;
     white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 20px;
}

.card p span{
    color: green;
    font-weight: 700;
}
.outer{
     width: 400px;
    height: 20px;
    background-color: grey;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.inner{
  width: 0px;
  height:100%;
  border-radius: 10px;
 
  background-color:rgb(1, 128, 1);
}

.bottom {
    width: 100%;
    padding: 0 20px;
    display: flex;
  justify-content:space-between;
  
}
h2{
    font-family: monospace;
}
button{
  background-color: rgb(6, 152, 6);
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  border: none;
}
