*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,body{
  width: 100%;
  height: 100%;
  background-color:black;
 
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.card{
  /* height: 300px; */
  width: 200px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
    border: 2px solid #d4af37;
  box-shadow:
    0 0 5px  rgba(212, 175, 55, 0.6),
    0 0 10px rgba(212, 175, 55, 0.8),
    0 0 20px rgba(212, 175, 55, 0.9);


}
.card div{
  position: relative;
  overflow: hidden;
}
.card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
  

}
.card h2{
  font-size: 20px;
  text-align: center;
}
.card i{
  position: absolute;
  left:50%;
  top: 50%;
  font-size: 50px;
  opacity: 0.01;
  background: linear-gradient(to right bottom , rgb(147, 5, 145) , rgb(255, 61, 61)) ;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  
  color: transparent;
  
  transform: translate(-50%, -50%) scale(0)  rotate(-60deg);
  transition: all cubic-bezier(.17,.67,.74,1.76) 0.3s;
}

h3{
  margin-top: 50px;
 color: #f5c542;
  text-shadow:
    0 0 4px  rgba(245, 197, 66, 0.6),
    0 0 8px  rgba(212, 175, 55, 0.8),
    0 0 16px rgba(212, 175, 55, 0.9);

}