*{
    margin: 0;
    padding: 0;
}
 
 html , body {
       width: 100%;
       height: 100%;

 }
        .main{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 0.5em;
        cursor:pointer;

             
        .card{
              background-size: cover;
              background-position: center;
              height: 100%;
              flex-grow: 1;
              transition: all 0.5s ease-in-out ;
            }

         .card:hover{
             flex-grow: 2;
         }  
             
        .card:nth-child(1) {
            background-image:url("./img/iron-man.jpg") ;
        }
         .card:nth-child(2) {
            background-image:url("./img/batman.jpg") ;
        }
         .card:nth-child(3) {
            background-image:url("./img/soiderman.avif") ;
        }
         .card:nth-child(4) {
            background-image:url("./img/deadpool-and-wolverine.jpg") ;
        }
         .card:nth-child(5) {
            background-image:url("./img/man-of-steel.jpg") ;
        }
        }
       
    
    

