*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
   background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimation{
    from{
            --rotate: 0deg;
    } 
    to{
           --rotate: 360deg;
    }
}

.box{
    max-width: 300px;
    color: wheat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    background:
              linear-gradient(black) padding-box,
              conic-gradient(from var(--rotate) , black , rgb(181, 18, 226) ,black) border-box ;
     border: 0px solid rgba(255, 255, 255, 0);
     animation: borderAnimation 2s infinite forwards ;
    box-shadow: 0 0 0px rgb(194, 50, 242);
    animation-timing-function: linear;
    animation-play-state:paused;
    transition: all 0.3s linear;
    
}
.box:hover{
    animation-play-state: running;
    border: 7px solid transparent;
    box-shadow: 0 0 50px rgb(194, 50, 242);
    color: rgb(237, 35, 220);
    text-shadow: 0 0 10px rgb(231, 40, 208);
    cursor: pointer;
}

.box img{
    width: 100%;
}