*{
    margin: 0px;
    padding: 0px;
}


 body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 7, 2);
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
 }
   
 .card{
    width: 450px;
    height: 450px;
    margin-bottom: 20px;
    border:5px solid  white;
    border-radius: 20px;

  
 }

 button{
    width: 100px;
     background-color: green;
     padding: 10px 20px;
     border-radius: 10px;
 }
  button:active{
    scale: 0.99;
  }


   