*{
    margin:0;
    padding:0;
    /* overflow-x: hidden; */
}
html , body{
    width: 100vw;
    height: 100vh; 
    font-family:"SF ProText","SF Pro Icons","Helvetica Neue","Helvetica","Arial",'sans-serif';
    background-color: #292929;
   color: white;
  
   

}

  /* .mainBar{
    width: 100vw;
    height: 5vw;
   align-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
  } */
section{
   width: 100vw;
    height:90vh ;
    display: flex;
    
}
.midSection{
    width: 100%;
    height:100% ;
    display: grid;
    margin: 60px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: " top-left top-right top-right"
                          " top-left center center-right"
                           "bottom-left bottom-left bottom-right";
                        
}
.card{
  border-radius: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 4px solid#fd0101;
 background-color: black;
}
h1{
  font-size:4rem;
  font-weight: 900;
  -webkit-text-stroke: 3px white;
  color: transparent;
}



#top-left{
  grid-area: top-left;
  
}
#top-right{
  grid-area: top-right;
}
#center{
  grid-area: center;
}
 #center-right{
  grid-area: center-right;
 }
 #bottom-left{
  grid-area: bottom-left;
 }
 #bottom-right{
  grid-area: bottom-right;
  
 }