*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

html , body {
    width: 100%;
    height: 100%;
    font-family:sans-serif;
    color: #f4f2ed;
    letter-spacing: 1px;
    background-color: #121212;
    font-family: Satoshi, sans-serif;
    font-size:clamp(14px, 1rem, 22px);
    
    font-weight: 300;
    line-height: 160%;
}
@mixin flex-column($gap:0rem){
    display:flex;
    flex-direction: column;
    gap:$gap;
} 
    
section{
    max-width: 1600px;
}
// -------------------------navbar--------------------------------------
nav{
    display: flex;
    justify-content: center;
    padding-top:1.5rem;

    .navbar-container{
          width:100px;
       
        img{
           width: 100%;
        //    height: 100%;
           object-fit:cover ;    /* keeps transparency intact */
           transition: transform 0.3s ease;
         }
        }
}
// -------------------------------main-content-start-here------------------------
main{
    width: 100%;
    @include flex-column(0rem);
    align-items: center;
       // -------------------------view1-start-------------------------------
       .view1{
                 width: 100%;
                 @include flex-column(1.5rem);
                 justify-content: stretch;
                //  display: grid;
                //  grid-template-columns: repeat( minmax(900px, 1fr));
                // grid-template-rows:1fr 1fr ;
                 width: 100%;
                 padding: .5rem;
                 gap: .5rem;
                 overflow: hidden;

          .top{
            width: 100%;
            height: 100%;
            .image-cover{
                width: 100%;
                overflow: hidden;
                object-fit:cover;
                border-radius: 1.5rem;
            }
          }
          .bottom{
            @include flex-column(3rem);
            gap:8rem;
            justify-content: space-between;
            background-color:#292929;
            border-radius: 1.5rem;
            padding: 3rem;
            p{
                 font-size: 14px;
                 padding-top: 10px
            }

             .text{

                @include flex-column(1rem) ;

                h1{
                    font-weight: 400;
                    font-size:3.5rem;
                    text-transform: uppercase;
                     line-height: 1.4;
                }
                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height:1.5;
                }
                button{
                      width: fit-content;
                      font-size: x-small;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.75rem;
                }

             }

          }

       }
    //         ---------------------view1-end-----------------------------
        
    // ---------------------------view2-start-here----------------------------
      .view2{
        
          width: 100%;
            .page-padding {
               
                    padding: 3rem 2rem;
                    .container-large {
                           width: 100%;
                           max-width: 87.5rem;
                           margin-left: auto;
                           margin-right: auto;

                           .state-grid{
                            display: grid;
                            grid-column-gap: 2rem;
                            grid-row-gap: 2rem;
                            grid-template-rows: auto;
                            grid-template-columns: 1fr 1fr;
                            grid-auto-columns: 1fr;
                            text-align: center;

                            .margin-bottom{
                                    margin-bottom: 0.5rem;

                                    .text-meta{
                                            letter-spacing: 1px;
                                            text-transform: uppercase;
                                            font-family: Roboto Mono, sans-serif;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 160%;
                                    }

                             }
                             .heading-h1{
                                    font-family: Chillax, sans-serif;
                                    font-size: 4rem;
                                    font-weight: 400;
                                    line-height: 110%;
                             }
                           }
                    }
                 }
            }
       }
    
    
    // -----------------------------view2-end-view3start----------------------------
             .view3{
                 width: 100%;
                 @include flex-column(1.5rem);
                 justify-content: stretch;
                //  display: grid;
                //  grid-template-columns: repeat( minmax(900px, 1fr));
                // grid-template-rows:1fr 1fr ;
                 width: 100%;
                 padding: .5rem;
                 gap: .5rem;
                 overflow: hidden;

          .top{
            width: 100%;
            height: 100%;
            .image-cover{
                width: 100%;
                overflow: hidden;
                object-fit:cover;
                border-radius: 1.5rem;
            }
          }
          .bottom{
            @include flex-column(3rem);
            gap:8rem;
            justify-content: space-between;
            background-color:#292929;
            border-radius: 1.5rem;
            padding: 3rem;
            p{
                 font-size: 14px;
                 padding-top: 10px
            }

             .text{

                @include flex-column(1rem) ;

                h1{
                    font-weight: 400;
                    font-size:3.5rem;
                    text-transform: uppercase;
                     line-height: 1.4;
                }
                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height:1.5;
                }
                button{
                      width: fit-content;
                      font-size: x-small;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.75rem;
                }

             }

          }

       }
//  ------------------view3end and view4 start-------------------
      
          .view4{
                 width: 100%;
                 @include flex-column(1rem);
                 justify-content: stretch;
                //  display: grid;
                //  grid-template-columns: repeat( minmax(900px, 1fr));
                // grid-template-rows:1fr 1fr ;
                 width: 100%;
                 padding: .5rem;
                 gap: .5rem;
                 overflow: hidden;

          .top{
            width: 100%;
            height: 100%;
            .image-cover{
                width: 100%;
                overflow: hidden;
                object-fit:cover;
                border-radius: 1.5rem;
            }
          }
          .bottom{
            @include flex-column(3rem);
            gap:8rem;
            justify-content: space-between;
            background-color:#292929;
            border-radius: 1.5rem;
            padding: 3rem;
            p{
                 font-size: 14px;
                 padding-top: 10px
            }

             .text{

                @include flex-column(1rem) ;

                h1{
                    font-weight: 400;
                    font-size:3.5rem;
                    text-transform: uppercase;
                     line-height: 1.4;
                }
                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height:1.5;
                }
                button{
                      width: fit-content;
                      font-size: x-small;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.75rem;
                }

             }

          }

       }

// --------------------------------main-content-end-here--------------------------------
// ------------------------------------------------------------------------
@media(min-width:900px){
    main{
        .view1{
    //  flex-direction: row;
    //  align-items: stretch;
    display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 1rem 1.2rem;
     gap: 1.2rem;

     .top .bottom{
        width: 50%;
         column-gap:  1.5rem;
         border: radius 1.5em; 
     }
     .image-cover{
            object-fit: cover;
            width: 100%;
            height: 100%;
           
    //    img{
    //         width: 100%;
            
            
       }
     
      .bottom {
                justify-content: space-between;
                padding: 4rem;
                 .text {

                    gap:2rem;

                    h1 {
                        font-size:3.5rem;
                        line-height: 1;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }
    

    .view2{
        .page-padding{
            padding: 4rem;
            .container-large{
            .state-grid{
             display: flex;
             justify-content:space-between;
             align-items: center;

             .heading-h1{
                font-size: 3rem;
             }

             
            }
        }
      }
    }
      
            .view3{
    //  flex-direction: row;
    //  align-items: stretch;
    display: grid;
       direction: rtl;
     grid-template-columns: 1fr 1fr;
     padding: 1rem 1rem;
     gap: 1rem;

     .top .bottom{
        width: 50%;
         column-gap:  1.5rem;
         border: radius 1.5em; 
     }
     .image-cover{
            object-fit: cover;
            width: 100%;
            height: 100%;
           
    //    img{
    //         width: 100%;
            
            
       }
     
      .bottom {
                justify-content: space-between;
                padding: 4rem;
                 .text {

                    gap:2rem;

                    h1 {
                        font-size:3.5rem;
                        line-height: 1;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }

                .view4{
    //  flex-direction: row;
    //  align-items: stretch;
    display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 1rem 1rem;
     gap: 1rem;

     .top .bottom{
        width: 50%;
         column-gap:  1.5rem;
         border: radius 1.5em; 
     }
     .image-cover{
            object-fit: cover;
            width: 100%;
            height: 100%;
           
    //    img{
    //         width: 100%;
            
            
       }
     
      .bottom {
                justify-content: space-between;
                padding: 4rem;
                 .text {

                    gap:2rem;

                    h1 {
                        font-size:3.5rem;
                        line-height: 1;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }
 }
}
// -------------------------------------------------------------------
@media(max-width:660px){
    main{
        .view1{
        .bottom{
            .text{
            h1{
                font-size: 3rem;
                line-height: 1.2;
                font-weight:400;
               font-family: 'Satoshi', sans-serif;
            }
        }
      }
    }

    .view2{
        .page-padding{
            padding: 2rem 1.5rem;
            .container-large{

              .state-grid{

                .heading-h1{
                font-size: 3rem;
                 }
        }
        }
        }
    }
     .view3{
        .bottom{
            .text{
            h1{
                font-size: 3rem;
                line-height: 1.2;
                font-weight:400;
               font-family: 'Satoshi', sans-serif;
            }
        }
      }
    }
     .view4{
        .bottom{
            .text{
            h1{
                font-size: 3rem;
                line-height: 1.2;
                font-weight:400;
               font-family: 'Satoshi', sans-serif;
            }
        }
      }
    }
  }
}